* {
	box-sizing: border-box;
}

#questionOne, #questionTwo, #questionThree, #questionFour, #time-left {
	visibility: hidden;
}

body {
	background-image: url(hexellence.png);
}

.container {
	background-color: #fff;
	border: lightgrey solid 1px;
	margin: 2em 10em;
	text-align: center;
	padding-bottom: 8em;
}

h2 {
	font-family: 'Abril Fatface', cursive;
	font-size: 3em;
	letter-spacing: .15em;
	text-transform: uppercase; 
}

h3, p, #time-left {
	font-family: 'Lato', sans-serif;

}

p {
	padding: .75em;
	margin: 0 10em;
	border: lightgrey 1px solid;
}


.UserAnswerOne, .UserAnswerTwo, .UserAnswerThree, .UserAnswerFour {
	background-color: black;
	color: white;
}

button {
	border-radius: 4px;
	font-size: 110%;
	color: white;
	background: rgb(66, 184, 221);
}

#beyonce-right {
	height: 40em;
	position: fixed;
	top: 2em;
	right: -5em;
}

#beyonce-left {
	height: 40em;
	position: fixed;
	top: 2em;
	left: -5em;
}


@media only screen and (max-width : 960px) {
	#beyonce-left, #beyonce-right {
			visibility: hidden;
		}
    }




